<app-nav></app-nav>
<div class="home-container">
    <!-- Navigation Bar -->  
  
    <div class="content-container">
        <section class="main-content">
            <div class="main-container">
                <a routerLink="/two-colors" class="menu-item">Test Dwóch Kolorów</a>
            </div>
            <div class="main-container">
                <a routerLink="/ishihara" class="menu-item">Test Ishihary</a>
            </div>
            <div class="main-container">
                <a routerLink="#" class="menu-item">W budowie</a>
            </div>
        </section>
    </div>  
  </div>
<app-footer></app-footer>