<div class="login-container">
  <form class="login-form" (ngSubmit)="login()">
    <h2>Logowanie</h2>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <div class="input-group">
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Nazwa użytkownika"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Hasło"
        required
      />
    </div>

    <button type="submit" class="login-btn">Zaloguj się!</button>

    <div class="register-link">
      <p>
        Nie masz jeszcze konta? <a routerLink="/register">Rejestracja</a>
      </p>
    </div>
  </form>
</div>
